<a href="https://colab.research.google.com/github/Arvind-81/Movie-Recommondation-System/blob/main/Major_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plot
%matplotlib inline

In [4]:
#Importing Dataset
bollywood_path='/content/bollywood_full.csv'
data_df=pd.read_csv(bollywood_path)

In [5]:
data_df.head(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112.0,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73.0,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549.0,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891.0,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280.0,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [6]:
data_df.sample(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
3478,Zehreela Insaan,tt0232977,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Zehreela_Insaan,Zehreela Insaan,Zehreela Insaan,0,1974,131,Drama|Romance,7.0,52.0,SPOILER: Arjun a hot headed but soft hearted ...,SPOILER: Arjun a hot headed but soft hearted ...,NaN,Rishi Kapoor|Moushumi Chatterjee|Neetu Singh|N...,NaN,1974 (India)
2834,Sunny (1984 film),tt0232734,https://upload.wikimedia.org/wikipedia/en/6/66...,https://en.wikipedia.org/wiki/Sunny_(1984_film),Sunny,Sunny,0,1984,114,Drama|Romance,5.6,109.0,Wealthy businessman Inderjeet marries a lovely...,Wealthy businessman Inderjeet marries a lovely...,NaN,Sunny Deol|Amrita Singh|Dharmendra|Waheeda Reh...,NaN,28 September 1984 (India)

In [7]:
data_df.tail(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
4328,Sheesh Mahal (1950 film),tt0243555,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sheesh_Mahal_(19...,Sheesh Mahal,Sheesh Mahal,0,1950,144,Drama,7.0,13.0,Thakur Jaspal Singh lives in the prestigious a...,Thakur Jaspal Singh lives in the prestigious a...,NaN,Sohrab Modi|Naseem Banu|Pushpa Hans|Nigar Sult...,NaN,NaN
4329,Meena Bazaar (film),tt0213081,NaN,https://en.wikipedia.org/wiki/Meena_Bazaar_(19...,Meena Bazaar,Meena Bazaar,0,1950,\N,Drama,7.0,9.0,NaN,Add a Plot »,NaN,NaN,NaN,NaN

# Datset Information

In [9]:
# Total rows and column
data_df.shape

(4330, 18)

In [10]:
# Information of the Dataset
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4330 entries, 0 to 4329
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           4330 non-null   object
 1   imdb_id           4330 non-null   object
 2   poster_path       3580 non-null   object
 3   wiki_link         4330 non-null   object
 4   title_y           4330 non-null   object
 5   original_title    4330 non-null   object
 6   is_adult          4330 non-null   int64
 7   year_of_release   4330 non-null   object
 8   runtime           4330 non-null   object
 9   genres            4330 non-null   object
 10  imdb_rating       4317 non-null   float64
 11  imdb_votes        4317 non-null   float64
 12  story             4065 non-null   object
 13  summary           4329 non-null   object
 14  tagline           685 non-null    object
 15  actors            4320 non-null   object
 16  wins_nominations  1344 non-null   object
 17  release_date      3049 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 609.0+ KB

In [11]:
#Checking missing value in whole dataset
data_df.isna().sum()

title_x                0
imdb_id                0
poster_path          750
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating           13
imdb_votes            13
story                265
summary                1
tagline             3645
actors                10
wins_nominations    2986
release_date        1281
dtype: int64

In [12]:
#Statistics
data_df.describe()

       is_adult  imdb_rating     imdb_votes
count    4330.0  4317.000000    4317.000000
mean        0.0     5.911744    2387.874913
std         0.0     1.330077    9404.126400
min         0.0     0.000000       0.000000
25%         0.0     5.100000      32.000000
50%         0.0     6.100000     131.000000
75%         0.0     6.900000     966.000000
max         0.0     9.400000  310481.000000

In [13]:
#Checking column type
data_df['original_title'].unique()

array(['Uri: The Surgical Strike', 'Battalion 609',
       'The Accidental Prime Minister', ..., 'Jogan', 'Sheesh Mahal',
       'Meena Bazaar'], dtype=object)

In [14]:
data_df['genres'].unique()

array(['Action|Drama|War', 'War', 'Biography|Drama', 'Crime|Drama',
       'Drama', 'Comedy|Drama', 'Comedy|Crime|Drama',
       'Action|Biography|Drama', 'Horror|Thriller', 'Drama|Music',
       'Action|Adventure|Comedy', 'Action|Crime|Drama',
       'Crime|Drama|Mystery', 'Action|Comedy', 'Drama|Romance',
       'Thriller', 'Sport', 'Action|Drama|History', 'Action|Adventure',
       'Drama|Mystery|Thriller', 'Drama|Romance|Sport', 'Comedy|Romance',
       'Action|Thriller', 'Action|Adventure|Drama',
       'Action|Crime|Thriller', 'Action|Drama|Romance', 'Action|Drama',
       'Action|Drama|Thriller', 'Comedy', 'Comedy|Drama|Thriller',
       'Action|Comedy|Drama', 'Drama|Family|Romance', 'Drama|History',
       'Comedy|Drama|Romance', 'Crime|Drama|Romance',
       'Action|Comedy|Fantasy', 'Drama|Thriller', 'Action|Romance',
       'Action', 'Comedy|Thriller', 'Mystery|Thriller',
       'Action|Drama|Sport', 'Drama|History|Romance', 'Romance',
       'Crime|Drama|Thriller', 'Drama|Family', 'Comedy|Drama|Horror',
       'Action|Biography|Crime', 'Comedy|Drama|Family',
       'Drama|History|Sport', 'Comedy|Horror', 'Drama|Fantasy|Horror',
       'Crime|Thriller', 'Comedy|Family', 'Action|Adventure|Thriller',
       'Action|Thriller|War', 'Comedy|Drama|Fantasy',
       'Action|Mystery|Romance', 'Biography|History', 'Documentary|Sport',
       'Horror|Mystery', 'Crime|Mystery|Thriller', 'Drama|War',
       'Action|Comedy|Thriller', 'Drama|Short', 'Drama|History|Thriller',
       'Action|Drama|Music', 'Biography|Drama|History', 'Horror',
       'Biography|Crime|Thriller', 'Drama|Mystery',
       'Action|Comedy|Romance', 'Biography|Drama|Thriller',
       'Adventure|Drama|Mystery', 'Adventure|Drama|Thriller',
       'Biography|Drama|Sport', 'Family|Romance',
       'Adventure|Comedy|Drama', 'Crime|Mystery', 'Comedy|Sport',
       'Horror|Mystery|Romance', 'Adventure|Fantasy|Sci-Fi',
       'Adventure|Comedy', 'Biography', 'Drama|Romance|Thriller',
       'Drama|Music|Musical', 'Horror|Romance', 'Drama|Mystery|Romance',
       'Action|Drama|Musical', 'Biography|Drama|Music',
       'Action|Comedy|Crime', 'Comedy|Drama|Mystery',
       'Drama|Horror|Romance', 'Action|Drama|Mystery', 'Drama|Fantasy',
       'Action|Mystery|Thriller', 'Mystery|Romance|Thriller',
       'Action|Crime|Sci-Fi', 'Action|Comedy|War', 'Comedy|Crime|Family',
       'Music|Romance', 'Musical|Romance', 'Adventure|Biography|Drama',
       'Comedy|Crime', 'Action|Fantasy|Thriller',
       'Adventure|Drama|Family', 'Documentary', 'Crime|Musical|Thriller',
       'Drama|History|War', 'Drama|Family|Sport', 'Drama|Musical|Romance',
       'Crime', 'Action|Horror|Sci-Fi', 'Drama|Musical',
       'Comedy|Crime|Thriller', 'Crime|Romance', 'Drama|Horror|Mystery',
       'Action|Comedy|Music', 'Biography|Drama|Romance',
       'Action|Adventure|Sci-Fi', 'Animation|Family|Musical',
       'Drama|Sport', 'Horror|Sci-Fi|Thriller', 'Horror|Romance|Thriller',
       'Comedy|Drama|Musical', 'Animation', 'Action|Crime|Romance', '\\N',
       'Biography|Crime|Drama', 'Adventure|Thriller', 'Comedy|War',
       'Horror|Mystery|Thriller', 'Comedy|Musical|Romance',
       'Romance|Thriller', 'Fantasy|Mystery|Romance',
       'Comedy|Fantasy|Romance', 'Action|Adventure|Animation', 'Family',
       'Action|Romance|Thriller', 'Comedy|Family|Sci-Fi', 'Sci-Fi',
       'Drama|Family|Mystery', 'Adventure|Comedy|Crime',
       'Animation|Comedy|Drama', 'Animation|Drama|Musical',
       'Comedy|Musical', 'Action|Comedy|Musical', 'Action|Drama|Horror',
       'Comedy|Family|Romance', 'Drama|Romance|War', 'Comedy|Drama|Sport',
       'Comedy|Drama|Music', 'Adventure|Horror|Romance',
       'Action|Sci-Fi|Thriller', 'Drama|Family|Thriller',
       'Adventure|Animation|Family', 'Comedy|Romance|Sci-Fi',
       'Action|Adventure|Crime', 'Action|Crime|Mystery',
       'Action|Adventure|Fantasy', 'Comedy|Crime|Romance',
       'Action|Comedy|Mystery', 'Adventure|Animation|Comedy',
       'Crime|Mystery|Romance', 'Drama|Family|Music',
       'Comedy|Horror|Mystery', 'Drama|Sci-Fi', 'Drama|Short|Thriller',
       'Comedy|Crime|Mystery', 'Drama|Horror|Thriller', 'Comedy|Music',
       'Action|Crime', 'Family|Romance|Sport', 'Comedy|Mystery|Thriller',
       'Action|Drama|Fantasy', 'Family|Fantasy', 'Action|Sci-Fi',
       'Drama|Music|Romance', 'Drama|Fantasy|Romance',
       'Drama|Family|Musical', 'Crime|Drama|Musical',
       'Animation|Drama|History', 'Adventure|Horror|Mystery',
       'Drama|History|Musical', 'Comedy|Mystery',
       'Family|Musical|Romance', 'Fantasy', 'Drama|Fantasy|Thriller',
       'Musical', 'Drama|Musical|Mystery', 'Action|Fantasy|Sci-Fi',
       'Adventure|Musical|Romance', 'Drama|Horror', 'Crime|Short',
       'Action|Comedy|Family', 'Drama|Fantasy|Mystery',
       'Comedy|Drama|Short', 'Comedy|Short', 'Drama|Horror|Musical',
       'Action|Musical|Romance', 'Musical|Romance|Thriller',
       'Documentary|War', 'Adventure|Drama|Musical',
       'Action|Crime|Horror', 'Comedy|Fantasy', 'Comedy|Musical|Mystery',
       'Crime|Drama|History', 'Action|Adventure|Romance',
       'Fantasy|Musical|Romance', 'Adventure|Family|Fantasy', 'Mystery',
       'Action|Drama|Family', 'Adventure|Drama|Fantasy', 'Action|Mystery',
       'Comedy|Romance|Thriller', 'Drama|Family|Fantasy', 'Horror|Music',
       'Fantasy|Horror', 'Fantasy|Thriller', 'Action|Drama|Western',
       'Adventure', 'Action|Family', 'Adventure|Mystery|Thriller',
       'Fantasy|Romance', 'Comedy|Horror|Thriller',
       'Comedy|Family|Musical', 'Romance|Sport',
       'Adventure|Crime|Thriller', 'Crime|Drama|Family',
       'Action|Crime|Musical', 'Adventure|Drama', 'Crime|Drama|Music',
       'Action|Adventure|Family', 'Action|Family|Musical',
       'Crime|Horror|Mystery', 'Crime|Romance|Thriller',
       'Action|Horror|Mystery', 'Adventure|Drama|Romance',
       'Action|Fantasy', 'Musical|Mystery|Thriller', 'History',
       'Comedy|Drama|History', 'Action|Fantasy|Musical',
       'Fantasy|Musical', 'Animation|Short', 'Family|Mystery|Thriller',
       'Musical|Mystery|Romance', 'Action|Family|Thriller',
       'Action|Musical', 'Adventure|Romance', 'Action|Musical|Thriller',
       'Adventure|Fantasy', 'Comedy|Mystery|Romance',
       'Drama|Fantasy|Musical', 'Crime|Musical|Mystery',
       'Adventure|Fantasy|Musical', 'Action|Musical|War',
       'Romance|Sci-Fi|Thriller', 'Action|Adventure|Horror',
       'Fantasy|Musical|Mystery', 'Crime|Musical|Romance',
       'Musical|Thriller', 'Adventure|History', 'History|Musical|Romance'],
      dtype=object)

In [15]:
#Duplicate Values
data_df['genres'].value_counts()

Drama                      513
Action|Crime|Drama         283
Drama|Romance              263
Drama|Family               197
Action|Drama               170
                          ...
Drama|Horror|Musical         1
Comedy|Short                 1
Comedy|Drama|Short           1
Drama|Fantasy|Mystery        1
History|Musical|Romance      1
Name: genres, Length: 264, dtype: int64

In [16]:
data_df['original_title'].value_counts()

Dushman                      4
Hulchul                      4
Anari                        4
Maya                         3
Goonj                        3
                            ..
Ishq Hai Tumse               1
Maqbool                      1
Masti                        1
Meenaxi: Tale of 3 Cities    1
Meena Bazaar                 1
Name: original_title, Length: 4047, dtype: int64

In [17]:
data_df.isnull()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True
4326,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True
4327,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False
4328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True
4329,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True

# Cleaning Dataset

In [18]:
#Dropping Column
data_df=data_df.drop(['title_x','imdb_id','poster_path','wiki_link','title_y','is_adult','imdb_votes','story','summary','tagline','wins_nominations','release_date'],axis=1)
data_df

,original_title,year_of_release,runtime,genres,imdb_rating,actors
0,Uri: The Surgical Strike,2019,138,Action|Drama|War,8.4,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1,Battalion 609,2019,131,War,4.1,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2,The Accidental Prime Minister,2019,112,Biography|Drama,6.1,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3,Why Cheat India,2019,121,Crime|Drama,6.0,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4,Evening Shadows,2018,102,Drama,7.3,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
...,...,...,...,...,...,...
4325,Samadhi,1950,165,Drama,6.1,Ashok Kumar|Nalini Jaywant|Kuldip Kaur|Shyam|M...
4326,Sangram,1950,139,Drama,6.2,Ashok Kumar|Nalini Jaywant|Nawab|Sajjan|Tiwari...
4327,Sargam,1950,135,Drama|Family,6.8,Raj Kapoor|Rehana|Om Prakash|David Abraham|Rad...
4328,Sheesh Mahal,1950,144,Drama,7.0,Sohrab Modi|Naseem Banu|Pushpa Hans|Nigar Sult...
4329,Meena Bazaar,1950,\N,Drama,7.0,NaN

In [19]:
#Replacing nonnumeric value to Nan
data_df['runtime']=pd.to_numeric(data_df['runtime'],errors='coerce')

In [20]:
#Dropping NaN value with '-'
data_df['runtime']=data_df['runtime'].fillna('')

In [21]:
data_df.tail()

,original_title,year_of_release,runtime,genres,imdb_rating,actors
4325,Samadhi,1950,165.0,Drama,6.1,Ashok Kumar|Nalini Jaywant|Kuldip Kaur|Shyam|M...
4326,Sangram,1950,139.0,Drama,6.2,Ashok Kumar|Nalini Jaywant|Nawab|Sajjan|Tiwari...
4327,Sargam,1950,135.0,Drama|Family,6.8,Raj Kapoor|Rehana|Om Prakash|David Abraham|Rad...
4328,Sheesh Mahal,1950,144.0,Drama,7.0,Sohrab Modi|Naseem Banu|Pushpa Hans|Nigar Sult...
4329,Meena Bazaar,1950,,Drama,7.0,NaN

In [22]:
data_df['year_of_release']=pd.to_numeric(data_df['year_of_release'],errors='coerce')

In [23]:
data_df['year_of_release']=data_df['year_of_release'].fillna('')

In [24]:
data_df['imdb_rating']=pd.to_numeric(data_df['imdb_rating'],errors='coerce')

In [25]:
data_df['imdb_rating']=data_df['imdb_rating'].fillna('')

In [26]:
data_df.head(80)

,original_title,year_of_release,runtime,genres,imdb_rating,actors
0,Uri: The Surgical Strike,2019.0,138.0,Action|Drama|War,8.4,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1,Battalion 609,2019.0,131.0,War,4.1,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2,The Accidental Prime Minister,2019.0,112.0,Biography|Drama,6.1,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3,Why Cheat India,2019.0,121.0,Crime|Drama,6.0,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4,Evening Shadows,2018.0,102.0,Drama,7.3,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
...,...,...,...,...,...,...
75,Pati Patni Aur Woh,2019.0,,Comedy|Romance,,Kartik Aaryan|Bhumi Pednekar|Ananya Panday|Apa...
76,Commando 3,2019.0,,Action|Thriller,,Vidyut Jammwal|Adah Sharma|Angira Dhar|Sumeet ...
77,Mardaani 2,2019.0,,Action|Drama|Thriller,,Rani Mukerji|Rajesh Sharma|Shruti Bapna|
78,Dabangg 3,2019.0,,Action,,Salman Khan|Sonakshi Sinha|Sudeep|Mahesh Manjr...
79,Good Newwz,2019.0,,Comedy|Drama|Romance,,Akshay Kumar|Kareena Kapoor|Kiara Advani|Tisca...

In [32]:
data_df['actors']=data_df['actors'].fillna('-')

In [33]:
data_df.isna().sum()

original_title     0
year_of_release    0
runtime            0
genres             0
imdb_rating        0
actors             0
dtype: int64